
#//////////////////////////
# macOS
#//////////////////////////
.DS_Store

#///////////////////////////
# Cocos Creator 3D Project
#///////////////////////////
library/
temp/
local/
build/
build-templates/*
!build-templates/wechatgame/
build-templates/wechatgame/*
!build-templates/wechatgame/game.ejs
profiles/
native
.creator/
#//////////////////////////
# NPM
#//////////////////////////
node_modules/

#//////////////////////////
# VSCode
#//////////////////////////
.vscode/

#//////////////////////////
# WebStorm
#//////////////////////////
.idea/
